@import url('https://fonts.googleapis.com/css?family=MedievalSharp');

html {
    font-family: MedievalSharp, sans-serif;
}

p {
    line-height: 140%;
    margin-bottom: 10px;
}

header {
    width: 60%;
    margin: 0 auto 0 auto;
}

nav {
    text-align: center;
    margin-bottom: 25px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li {
    display: inline;
    background-color: #e1e1e1;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
}

nav ul li:hover{
    background-color: #b4e1ab;
    font-weight: bold;
}

h1 {
    font-size: 3rem;
    color: red;
    line-height: 6rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

h3 {
    color: grey;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.straf {
    color: red;
}

article {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
}

article img{
    width: 100%;
    margin-bottom: 10px;
}

article p:last-of-type {
    margin-bottom: 0;
}

article + nav {
    margin: 40px 0 40px 0;
}

article + nav ul li {
    margin-right: 10px;
}

figcaption {
    font-size: 0.8rem;
    color: grey;
    margin-bottom: 20px;
}

main {
    width: 60%;
    margin: 0 auto 0 auto;
}

body {
    background-image: url("../Images/PaperTex.jpg");
}

footer {
    background-color: #ebebeb;
    padding: 15px 15px 0 15px;
    font-size: 0.8rem;
    border: 2px solid black;
    border-radius: 5px;
}

.Active {
    background-color: #b4e1ab;
}